apiVersion: apps/v1
kind: Deployment
metadata:
  name: oliveyoung-api
  namespace: oliveyoung
  labels:
    app: oliveyoung-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oliveyoung-api
  template:
    metadata:
      labels:
        app: oliveyoung-api
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
        - name: oliveyoung-api
          image: 160884802838.dkr.ecr.ap-northeast-2.amazonaws.com/oliveyoung-api:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "local"
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 90
            periodSeconds: 15
